include *.rst
include *.txt

include .isort.cfg
exclude .isort.cfg
include .pre-commit-config.yaml
exclude .pre-commit-config.yaml

include buildout.cfg
recursive-include js *.css
recursive-include js *.html
recursive-include js *.js
recursive-include js *.md
recursive-include js *.png
recursive-include js *.txt
